<div ng-include="'partials/navbar'"></div>

<div class="branding">
  <img src="images/nenok.png" title="Nenok" />
  <h2>Your stolen phone is just a text away</h2>
</div>

<div class="text-center">
  <img src="images/map.png" style="border-radius: 8px;" />
  <h3>Track your stolen phone at your finger tips</h3>
</div>

<br/>
<br/>

<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="page-header text-center">Using our service is really easy!</h4>
    <ol>
      <li>Install the Android APK <a href="javascript:void(0)">(link here)</a> to your android phone.</li>
      <li>Open the app and register with your email and password.</li>
      <li>Take note of the security command that the phone will show.</li>
      <li>Use this command to track your phone!</li>
    </ol>
  </div>
</div>

<!--
<div class="jumbotron">
  <h1>MOAN! <span ng-show="currentUser">{{ currentUser.name }}</span></h1>
</div>
-->
