<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1>Phone Locations</h1>
    <google-map
      center="map.center"
      zoom="map.zoom"
      draggable="true"
      pan="true"
    >
      <markers
        models="map.markers"
        coords="'self'"
        fit="true"
        labelContent="'title'"
      >
        <marker-label content="m.title" anchor="22 0" class="marker-labels" />
        <windows show="'showWindow'" ng-cloak>
          <p ng-non-bindable>{{title}}</p>
        </windows>
      </markers>
    </google-map>
  </div>
</div>
