<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1>Phone Locations</h1>
    <google-map
      center="map.center"
      zoom="map.zoom"
      draggable="true"
      pan="true"
      ng-if="map"
    >
      <markers
        models="map.markers"
        coords="'self'"
        fit="true"
      >
        <windows show="'showWindow'" ng-cloak>
          <p ng-non-bindable>{{ timestamp | formatDate }}</p>
        </windows>
      </markers>
      <polyline path="map.markers"
        stroke="{color: '#6060FB', weight: 3}"
        geodesic="false"
        fit="false"
        visible="true"
      >
      </polygon>

    </google-map>
    {{map.markers}}
  </div>
</div>
