<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-12">
    <h1>Phone Locations</h1>
    <google-map
      center="map.center"
      zoom="map.zoom"
      draggable="true"
      pan="true"
      ng-if="map"
    >
      <markers
        models="map.markers"
        coords="'self'"
        fit="true"
      >
        <windows show="'showWindow'" ng-cloak>
          <p ng-non-bindable>{{ timestamp | formatDate }}</p>
        </windows>
      </markers>
      <polyline path="map.markers"
        stroke="{color: '#6060FB', weight: 3}"
        geodesic="false"
        fit="false"
        visible="true"
      >
      </polygon>

    </google-map>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1> Phone Number History </h1>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="number in numbers | orderBy:'timestamp'">
          <td>{{ number.timestamp}}</td>
          <td>{{ number.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>:
